page-carrinho {

    img{
        width: 25%;
        float: left;
        margin-right: 5%;
        margin-top: 3%;
    }
    .excluir{
        float: right;
        margin-right: 8px;
        margin-bottom: 5px;
       
    }

    h3{
        text-align: center;
    
    }
    .finalizar{
        text-align: center;
    }
}
