page-listproduto {
    img{
        width: 25%;
        float: left;
        margin-right: 5%;
        margin-top: 3%;
    }
    .perfil{
        float: left;
        margin-top: 4px;
       margin-left: 50%;

    }
    .menu{
        float: left;
    }
    h3{
        padding-right: 15px;
        float: right;
    }
}
